{{!-- LOGOUT --}}

<div class="container alert alert-primary p-3">
  <h2 class="text-primary"> Hasta luego {{name}}</h2>
</div>
<script>
  setTimeout(function () {
     // 2 seconds paa rfedirigir a login
     window.location = "/login";
  }, 2000)
</script>
